
@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Design</title>
</head>
<body>
    <p>Layout in Layout</p>
    @RenderBody()
</body>
</html>
